html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff url('../img/geometry2.png');
  /* Background pattern from Subtle Patterns */
  font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

/*
 * Styles for the deck of cards
 */

.deck {
  width: 660px;
  min-height: 680px;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  height: 125px;
  width: 125px;
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
  transform: rotateY(180deg);
  transition: transform 0.3s linear;
}

.deck .card.open {
  transform: rotateY(0);
  cursor: default;
}

.deck .card.show {
  background: #02b3e4;
  font-size: 33px;
}

.deck .card.match {
  cursor: default;
  background: #02ccba;
  font-size: 33px;
}

/*
 * Styles for the Score Panel
 */

.score-panel {
  text-align: left;
  width: 345px;
  margin-bottom: 10px;
}

.score-panel .stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  margin: 0 5px 0 0;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}

.score-panel .restart {
  float: right;
  cursor: pointer;
}

/* gameover popup */

.gameover-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0) scale(0);
  transform-origin: center;
  background-color: #fff;
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

.gameover-popup.show {
  animation: popup 0.3s;
  transform: translate3d(-50%, -50%, 0) scale(1);
}

.gameover-popup p, .gameover-popup div {
  text-align: center;
}

.gameover-popup .gameover-icon {
  margin-top: 20px;
}

.gameover-popup .fa-check-circle {
  color: #14d695;
  font-size: 100px;
}

.gameover-popup .gameover-msg {
  font-size: 22px;
  margin-bottom: 10px;
}

.gameover-popup .gameover-score {
  margin-top: 10px;
}

.gameover-popup .restart-button {
  display: inline-block;
  width: 160px;
  height: 40px;
  cursor: pointer;
  background-color: #02ccba;
  color: #fff;
  font-size: 18px;
  border: none;
}

.gameover-popup .restart-button:active {
  background-color: #039185;
}

@keyframes popup {
  0% {
    transform: translate3d(-50%, -50%, 0) scale(0);
  }
  50% {
    transform: translate3d(-50%, -50%, 0) scale(1.1);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) scale(1);
  }
}
